<div class="imgBack">

  <div class="row">
    <div class="col-md-2">
      <div><img src="..\assets\image\front-test-logo.png" class="logo"></div>
    </div>
    <div class="col-md-8">
      <div class="row ">

        <div class="col-md-12">
          <header class="container">
            <section class="content">
              <div><img src="..\assets\image\front-test.png" class="logoFrontTest"></div>

              <div class="col-md-12">
                <p class="textWhite">Mussum Ipsum</p>
              </div>
              <div class="col-md-12"> <button class="inputBottom" type="submit">Saiba Mais</button> </div>


            </section>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row" style="margin: 0 10px">
            <div class="col-md-4 quadro">
              <p class="textBlack"> Mussum Ipsum</p>
              <div><img src="..\assets\image\fingerprint.png" class="logo"></div>
              <p class="textBlackPeq"> Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso
                pudia.</p>
              <button class="button-submitPeq" type="submit">Saiba mais</button>
            </div>

            <div class="col-md-4 quadro">
              <p class="textBlack"> Mussum Ipsum</p>
              <div><img src="..\assets\image\fingerprint.png" class="logo"></div>
              <p class="textBlackPeq"> Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso
                pudia.</p>
              <button class="button-submitPeq" type="submit">Saiba mais</button>
            </div>

            <div class="col-md-4 quadro">
              <p class="textBlack"> Mussum Ipsum</p>
              <div><img src="..\assets\image\fingerprint.png" class="logo"></div>
              <p class="textBlackPeq"> Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso
                pudia.</p>
              <button class="button-submitPeq" type="submit">Saiba mais</button>
            </div>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="button-logout" (click)="logout()">Logout</button>
    </div>
  </div>
</div>